.div {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.divBody {
    padding-top: 3rem;
}

.div-col {
    height: 500px;
}


.card {
    width: 300px;
    max-width: 300px;
    height: 480px;
    max-height: 480px;
    min-height: 480px;
    position: relative;
}

.card-body {
    background-color: #1b1b1b;
    height: 200px;
}

.card-text {
    font-size: 20px;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card-img-top {
    width: 300px;
    height: 250px;
}

.card-footer {
    display: block;
    align-items: center;
    line-height: inherit;

}

.checkBox {
    height: 33px;
}

.myButton {

    border: white;
    border-radius: 5px;
    background-color: darkseagreen;
    color: white;
    height: 30px;
    max-height: 30px;
    width: 100px;
    text-align: center;
    font-family: sans-serif;
    font-weight: inherit;
    /*font-size: 16px;*/
    transition-duration: 0.4s;
    overflow: hidden;
}

.myButton:hover {
    background-color: #4CAF50; /* Green */
    /*color: black;*/
    font-weight: bold;
}

.col-sm-12 {
    align-items: center;
}

/*@media screen and (max-width: 600px) {*/
/*    div.card {*/
/*        display: none;*/
/*    }*/
/*}*/

